#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: #2c3e50;
}

.mainContainer {
  @include media-breakpoint-up(md) {
    min-height: calc(100vh - 86px - 533px);
  }
  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - 86px - 296px);
  }
}