// https://blog.tarswork.com/post/a-selection-of-cool-css-button-effects

// 首頁 // 購物車 // 訂單填寫
.btnHover {
    position: relative;
    min-width: 150px;
    background: transparent;
    border: 2px solid $cambrige_blue;
    transform: translate3d(0px, 0%, 0px);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition-delay: 0.6s;
    overflow: hidden;
    padding: 10px 20px;
    border-radius: 4px;
}

.btnHover:before,
.btnHover:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: all 0.6s ease;
}

.btnHover:before {
    background: $cambrige_blue;
    border-radius: 50% 50% 0 0;
    transform: translateY(100%) scaleY(0.5);
}

.btnHover:after {
    background: #FFFFFF;
    border-radius: 0;
    transform: translateY(0) scaleY(1);
}

.btnHover div {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 24px;
    text-transform: uppercase;
    overflow: hidden;
}

.btnHover span {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    text-align: center;
    transition: transform 0.5s ease;
}

.btnHover span:first-child {
    color: #FFFFFF;
    transform: translateY(24px);
}

.btnHover span:last-child {
    color: $cambrige_blue;
    transform: translateY(0);
}

.btnHover:hover {
    background: $viridian;
    transition: background 0.2s linear;
    transition-delay: 0.6s;
    color: #FFFFFF;
}

.btnHover:hover:after {
    border-radius: 0 0 50% 50%;
    transform: translateY(-100%) scaleY(0.5);
    transition-delay: 0;
}

.btnHover:hover:before {
    border-radius: 0;
    transform: translateY(0) scaleY(1);
    transition-delay: 0;
}

.btnHover:hover span:first-child {
    transform: translateY(0);
}

.btnHover:hover span:last-child {
    transform: translateY(-32px);
}


// 門市資訊 // StoreList.vue
.btnHover2 {
    position: relative;
    z-index: 1;
    min-width: 150px;
    background: #FFFFFF;
    border: 2px solid $cambrige_blue;
    border-radius: 4px;
    color: $cambrige_blue;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    padding: 10px 20px;
}

.btnHover2 span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: $viridian;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.btnHover2:hover,
.btnHover2:focus,
.btnHover2.active {
    color: #FFFFFF;
    background-color: $cambrige_blue;
}

.btnHover2.active {
    border: 2px solid $cambrige_blue;
}

.btnHover2:hover span {
    transform: translateY(0) scale(2);
}

.btnHover2 span:nth-child(1) {
    --n: 1;
}

.btnHover2 span:nth-child(2) {
    --n: 2;
}

.btnHover2 span:nth-child(3) {
    --n: 3;
}

.btnHover2 span:nth-child(4) {
    --n: 4;
}

// 訂單查詢
.btnHover3 {
    position: relative;
    color: #111111;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0;
    background: transparent;
}

.btnHover3:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: $cambrige_blue;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
}

.btnHover3 span {
    position: relative;
    z-index: 1;
    padding-top: 3px;
    padding-bottom: 3px
}

.btnHover3 svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    margin-right: 4px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.btnHover3:hover:before {
    width: 100%;
    background: $cambrige_blue;
}

.btnHover3:hover svg {
    transform: translateX(0);
    stroke: #FFFFFF;
}

.btnHover3:hover {
    color: #FFFFFF //#111111;
}

.btnHover3:active {
    transform: scale(0.96);
}

// 按鈕背景套用$cambrige_blue: #8fc0a9
.btnHover5:after {
    background: $cambrige_blue ;
}

.btnHover5 span:last-child {
    color: #FFFFFF;
}