.navbar,.offcanvas { 
    background-color: $cambrige_blue;
}

.navbar{
    z-index: 1031 !important;
}

.offcanvas-header{
    margin-top: 30px;
}

.nav-link{
    position: relative;
}

.border-underline::before{
    content: "";
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.border-underline:hover::before{
    right: 0;
    left: 0;
}

.coupon{
    width: 100%;
    height: 30px;
    background: $eggshell;
    font-size:14px;
    color: 	#7B7B7B
}

.navbar-toggler {
    border:none
}

.navbar-toggler:focus {
    box-shadow: none
}

.bi-filter-right{
    font-size: 35px;
}

.btn-close:focus {
    box-shadow: none
}
