// 購物流程圖
.shopping_process {
  color: #212529;
}

//呈現灰色
.process_gray_line {
  width: 100px;
  height: 1.1px;
  background-color: #d0d0d0;
}

.process_gray {
  color: #d0d0d0;
}

//呈現黑色
.process_dark_line {
  width: 100px;
  height: 1.1px;
  background-color: #212529;
}

.process_dark {
  color: #212529;
}
