.Smallsidebar {
    z-index: 100;
    position: fixed;
    right: 10px;
    bottom: 60px;
    font-size: 30px;
        
    @include media-breakpoint-up(lg) {
        right: 0;
        top: 300px;
    }
}

.followUs,
.addCart,
.addFavorite {
    @include media-breakpoint-up(lg) {
        transition: 0.2s ease-in-out; // 動態轉換時間，時間越快越好
    }
}

.followUs,
.addCart,
.addFavorite {
    background-color: $cambrige_blue;
    width: 50px;
    height: 50px;
}

.followUs:hover,
.addCart:hover,
.addFavorite:hover {
    @include media-breakpoint-up(lg) {
    transform: scale(1.3, 1.3); // 變形縮放效果
    }
}