.container-fluid,
.container {
  --bs-gutter-x: 0;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  cursor: pointer;
  height: 600px;
}

// Banner輪播
.swiperBanner {
  height: 500px;
}

.slideBanner {
  background-image: url(https://i.imgur.com/OI9wFSv.jpg);
  background-position: right;
  background-size: cover;

  @include media-breakpoint-up(lg) {
    background-position: center;
  }
}

.slideBanner_text {
  bottom: 6%;

  @include media-breakpoint-up(sm) {
    left: 7%;
    bottom: 10%;
  }
}

.slideBanner_text_link {
  background-color: $viridian;
  color: #fff;
}

.slideBanner_text_link:hover {
  background-color: #fff;
  color: $viridian;
}

.slideBanner_text_link2 {
  background-color: $viridian;
  color: #fff;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
  @include media-breakpoint-up(sm) {
    bottom: 8%;
    width: 33%;
  }
  @include media-breakpoint-up(lg) {
    width: 22%;
  }
  @include media-breakpoint-up(xxl) {
    width: 16%;
  }
}

.slideBanner_text_link2:hover {
  background-color: #fff;
  color: $viridian;
}

.slideBanner2 {
  background-image: url(https://i.imgur.com/NbyfoOA.jpg);
  background-position: center;
  background-size: cover;
}

.slideBanner3 {
  background-image: url(https://i.imgur.com/tkP7YU2.jpg);
  background-position: center;
  background-size: cover;
}

// 分頁器顏色
.swiper-pagination-bullet-active {
  background: $viridian !important;
}

// 產品輪播
.swiper_img {
  overflow: hidden; // 超出的部分隱藏
  height: 400px;
  border-radius: none;

  @include media-breakpoint-up(lg) {
    height: 250px;
    border-radius: 16px;
  }
}

.swiper_img img {
  width: 100%;
  height: 100%; //320px
}

.product:hover {
  cursor: pointer;

  .swiper_img img {
    transform: scale(1.3, 1.3); // 變形縮放效果
    transition: all 0.2s ease-out; // 動態轉換時間，時間越快越好
  }
}

// 首頁 - 熱銷商品 輪播
// .swiper 原生css帶有 position-relative 和 overflow-hidden
// .swiper-button-next 或 .swiper-button-prev，原生css帶有 position-absolute 樣式
.swiper-button-next {
  // 原生帶有 position-absolute 樣式
  text-indent: 10% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  width: 40px !important;
  height: 60px !important;
  top: 42% !important;
  //right:-20px; // 如果直接移動 navigation 位置，會發現超出 .swiper 的部分會被隱藏，所以直接調整swiper尺寸
  right: 0px !important; // 此為最後一步驟 //完成.swiper區塊設定後，再設定左右 navigaiton button 的位置就完成
  color: #fff !important;
  opacity: 0.8;
  border: none;
  background-color: transparent;

  @include media-breakpoint-up(lg) {
    background-color: $viridian;
  }
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: transparent;
  color: transparent;
  @include media-breakpoint-up(lg) {
    background-color: $viridian;
    color: $cambrige_blue !important;
  }
}

.swiper-button-prev {
  text-indent: -10% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  width: 40px !important;
  height: 60px !important;
  top: 42% !important;
  //left: -20px; // 如果直接移動 navigation 位置，會發現超出 .swiper 的部分會被隱藏，所以直接調整swiper尺寸
  left: 0px !important; // 此為最後一步驟 //完成.swiper區塊設定後，再設定左右 navigaiton button 的位置就完成
  color: #fff !important;
  opacity: 0.8;
  border: none;
  background-color: transparent;

  @include media-breakpoint-up(lg) {
    background-color: $viridian;
  }
}

// 單一產品頁面 - 看更多商品 輪播
.UserProduct .swiper-button-next {
  top: 50% !important;
}

.UserProduct .swiper-button-prev {
  top: 50% !important;
}

.product-swiper {
  margin: auto !important;
  padding: 0 !important;

  @media (min-width: 768px) {
    // 768px以下不會顯示navigation
    margin: 0 -20px !important;
    padding: 0 20px !important;
    // 同時使用margin跟padding可互相抵銷，可保持原本swiper尺寸，也可將navigation超出.swiper尺寸，且超出的部分不會被隱藏
  }
}
