.container-fluid,
.container {
  --bs-gutter-x: 0
}

.swiper-slide {
  text-align: center;
  background: #fff;
  cursor: pointer;
  height: 600px
    /* Center slide text vertically */
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100%;
    // height: 900px;
}

// .swiper-button-prev{
//     left:-10px;
// }

// Banner輪播
.swiperBanner {
  height: 500px;
}

.slideBanner {
  background-image: url(/images/jakub-dziubak-XtUd5SiX464-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.slideBanner2 {
  background-image: url(/images/michal-parzuchowski-ItaV89TNkks-unsplash.jpg);
  background-position: right;
  background-size: cover;

  @include media-breakpoint-up(lg) {
    background-position: center;
  }
}

.slideBanner3 {
  background-image: url(/images/nathan-dumlao-6VhPY27jdps-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

// 分頁器顏色
.swiper-pagination-bullet-active {
  background: $cambrige_blue !important;
}


// 產品輪播
// .swiper 原生css帶有 position-relative 和 overflow-hidden
// .swiper-button-next 或 .swiper-button-prev，原生css帶有 position-absolute 樣式
.swiper-button-next {
  // 原生帶有 position-absolute 樣式
  text-indent: 10% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  width: 40px !important;
  height: 60px !important;
  top: 42% !important;
  //right:-20px; // 如果直接移動 navigation 位置，會發現超出 .swiper 的部分會被隱藏，所以直接調整swiper尺寸
  right: 0px !important; // 此為最後一步驟 //完成.swiper區塊設定後，再設定左右 navigaiton button 的位置就完成
  color: #fff !important;
  opacity: 0.8;
  border: none;
  background-color: transparent;

  @include media-breakpoint-up(lg) {
    background-color: $cambrige_blue;
  }
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: transparent;
  color: transparent;
  @include media-breakpoint-up(lg) {
    background-color: $cambrige_blue;
    color: $viridian !important;
  }
}

.swiper-button-prev {
  text-indent: -10% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  width: 40px !important;
  height: 60px !important;
  top: 42% !important;
  //left: -20px; // 如果直接移動 navigation 位置，會發現超出 .swiper 的部分會被隱藏，所以直接調整swiper尺寸
  left: 0px !important; // 此為最後一步驟 //完成.swiper區塊設定後，再設定左右 navigaiton button 的位置就完成
  color: #fff !important;
  opacity: 0.8;
  border: none;
  background-color: transparent;

  @include media-breakpoint-up(lg) {
    background-color: $cambrige_blue;
  }
}


.product-swiper {
  margin: auto !important;
  padding: 0 !important;

  @media (min-width: 768px) {
    // 768px以下不會顯示navigation
    margin: 0 -20px !important;
    padding: 0 20px !important;
    // 同時使用margin跟padding可互相抵銷，可保持原本swiper尺寸，也可將navigation超出.swiper尺寸，且超出的部分不會被隱藏
  }
}