.about_banner{
    background-image: url(/images/yuya-kitada-xD8Faf4RCtA-unsplash.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: 25% 40%;
}

.about_img_1{
    background-image: url(/images/illia-horokhovsky-MLMnd-u-_3M-unsplash.jpg);
    width: 100%;
    height: 400px;
    background-position: center;
}

.about_img_2{
    background-image: url(/images/jacek-dylag-PR-B3hhcOZY-unsplash.jpg);
    width: 100%;
    height: 400px;
    background-position: center;
}