.userCart { // 考量到不同頁面可能不同排版，故未與 UserPay、UserOrder共用
  margin-top: 100px;
  margin-bottom: 150px;
  font-size: 13px;
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}

// 與 UserPay、UserOrder共用
.productName {
  border-bottom: 1px solid
}

.productName:hover {
  cursor: pointer;
  color: $cambrige_blue!important;;
}

// .coupon_form{
//  width: 120px; 
//  outline: none; // 可消除藍色外框
//  border: 0;
//  border-bottom: solid 1px #000;
// }

// .coupon_form:focus {
//   border-bottom: solid 1px #BF4342;
// }

.noline:hover {
  outline: none !important;
}

.stickyTop {
  position: sticky;
  top: 110px;
}

.btn-outline{
  border: $cambrige_blue solid 1px;
  color: $cambrige_blue;
}

.btn-outline:hover{
  color: #fff;
  background-color: $cambrige_blue;
}

// .userCart a{
// /*移除預設樣式*/
// -webkit-appearance: none;
// /* Safari 和 Chrome，常用於 iOS 移除內建樣式 */
// -moz-appearance: none;
// /* FireFox */
// appearance: none;
// }

