.product_img {
  overflow: hidden; // 超出的部分隱藏
  height: 330px;
  border-radius: 8px;

  @include media-breakpoint-up(lg) {
    border-radius: 16px;
    height: 250px;
  }
}

.product_img img {
  width: 100%;
  height: 100%;
}

.product:hover {
  cursor: pointer;

  .product_img img {
    transform: scale(1.3, 1.3); // 變形縮放效果
    transition: all 0.2s ease-out; // 動態轉換時間，時間越快越好
  }
}

// 側邊menu（桌面） // 頂部menu(手機）
// https://codepen.io/alphardex/pen/OJNLyOv
.products_all {
  ul {
    list-style-type: none;
    width: 130%;

    @include media-breakpoint-up(lg) {
      width: 100px;
    }
  }

  a {
    text-decoration: none;
  }

  .menu {
    overflow-x: scroll;
    margin-top: 86px;
    z-index: 10;
  }

  .menu::-webkit-scrollbar {
    // 用於 Chrome、Safari 和現代 Edge，這樣可以隱藏滾動條。
    display: none;
  }
}

.menu-hover-fill {
  $menu-link-active-colors: #4f4f4f, #4f4f4f, #4f4f4f, #4f4f4f, #4f4f4f, #4f4f4f;

  li {
    position: relative;
    background: #fff;
    width: 25%;
    border-bottom: 2px solid #dee2e6 !important;

    @include media-breakpoint-up(lg) {
      background: transparent;
      width: 100%;
      border-bottom: none !important;

      &::before {
        // 左邊直線條
        position: absolute;
        content: "";
        top: 0;
        left: -1rem;
        width: 0.25rem;
        height: 100%;
        background: var(--menu-link-active-color);
        transition: 0.6s;
      }
    }

    a {
      --menu-link-color: #8e8e8e;
      position: relative;
      background: linear-gradient(var(--menu-link-active-color) 0 100%) left / 0
        no-repeat;
      color: #8e8e8e; // transparent;
      background-clip: text;
      // -webkit-background-clip: text;
      transition: background-size 0.45s 0.04s;
      display: block;
      width: 100%;
      @include media-breakpoint-up(lg) {
        color: transparent;
      }

      &::before {
        position: absolute;
        content: attr(data-text);
        z-index: -1;
        color: var(--menu-link-color);
      }
    }

    @for $i from 1 through length($menu-link-active-colors) {
      &:nth-child(#{$i}) {
        --menu-link-active-color: #{nth($menu-link-active-colors, $i)};
      }
    }

    &:hover {
      &::before {
        left: calc(100% + 1rem);
      }

      a {
        background-size: 100%;
      }
    }
  }
}

.products_all .active {
  color: var(--menu-link-active-color) !important;
}

.products_all li.active {
  border-color: var(--menu-link-active-color) !important;
}

// 頁碼
.hidePrevButton,
.hideNextButton {
  &.disabled {
    opacity: 0; // 不透明度 // 0 -透明 // 1 -不透明
  }
}

// & 是省略寫法，原本是.hidePrevButton.disabled, .hideNextButton.disabled

.pagination {
  --bs-pagination-color: none;
  --bs-pagination-bg: none;
  --bs-pagination-border-width: 0;
  --bs-pagination-border-color: none;
  --bs-pagination-border-radius: none;
  --bs-pagination-hover-color: #000;
  --bs-pagination-hover-bg: none;
  --bs-pagination-hover-border-color: none;
  --bs-pagination-focus-color: none;
  --bs-pagination-focus-bg: none;
  --bs-pagination-focus-box-shadow: none;
  --bs-pagination-active-color: #000;
  --bs-pagination-active-bg: none;
  --bs-pagination-active-border-color: none;
}

.page_bottom {
  position: relative;

  &:hover,
  &.active {
    &:after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 25%;
      width: 50%;
      border-bottom: 1.5px solid #000;
    }
  }
}
