// 必要
@import "~bootstrap/scss/functions";
@import "./helpers/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/bootstrap"; // 載入完整的bootstrap
//在 all.scss 之中，mixins 必須要最後再載入，避免前面有些變數還未載入卻有使用的狀況，這樣就會導致錯誤
//所以不能只載入其中一個

// 自定義
@import "./components/color";
@import "./components/app";
@import "./components/homeView";
@import "./components/btnHover";
@import "./components/swiper";
@import "./components/smallSidebar";
@import "./components/isLoading";
@import "./components/navbarFront";
@import "./components/footFront";
@import "./components/userAboutUs";
@import "./components/userProductsAll";
@import "./components/userProductDetail";
@import "./components/userCart";
@import "./components/shoppingProcess";
@import "./components/userOrder";
@import "./components/userPay";
@import "./components/userFavorite";
@import "./components/backstage/backstageOrder";
@import "./components/backstage/productModal";
@import "./components/backstage/backstage"

